### Step 1: Creating a Database Engine

In [1]:
from sqlalchemy import create_engine , Column , Integer , String
from sqlalchemy.orm import sessionmaker ,  declarative_base

In [2]:
engine = create_engine("mysql+pymysql://root:root@localhost:3306/test_db", echo=True)
# echo=True shows SQL logs

In [3]:
Base = declarative_base()

### Step 2: Defining Models (Mapping Classes to Tables)

In [4]:
class User(Base):
    __tablename__ = "users"  # Table name

    id = Column(Integer, primary_key=True)  # Primary key
    name = Column(String(20), nullable=False)  # Column definition
    email = Column(String(20), unique=True, nullable=False)

In [5]:
Base.metadata.create_all(engine)

2024-12-20 01:54:57,344 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-20 01:54:57,344 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-20 01:54:57,349 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-12-20 01:54:57,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-20 01:54:57,354 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-20 01:54:57,356 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-20 01:54:57,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 01:54:57,361 INFO sqlalchemy.engine.Engine DESCRIBE `test_db`.`users`
2024-12-20 01:54:57,363 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-20 01:54:57,382 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20) NOT NULL,
	email VARCHAR(20) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (email)
)


2024-12-20 01:54:57,383 INFO sqlalchemy.engine.Engine [no key 0.00159s] {}
2024-12-20 01:54:57,486 INFO sqlalchemy.engine.Engine COMMIT

### Step 3: Connecting to the Database (Session)

In [6]:
Session = sessionmaker(bind=engine)  # Link the session to the engine
session = Session()

### Step 4: Performing CRUD Operations

#### create

In [7]:
new_user = User(name="Alice", email="alice@example.com")
session.add(new_user)
session.commit()

2024-12-20 01:57:06,456 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 01:57:06,458 INFO sqlalchemy.engine.Engine INSERT INTO users (name, email) VALUES (%(name)s, %(email)s)
2024-12-20 01:57:06,460 INFO sqlalchemy.engine.Engine [generated in 0.00157s] {'name': 'Alice', 'email': 'alice@example.com'}
2024-12-20 01:57:06,462 INFO sqlalchemy.engine.Engine COMMIT

#### read

In [8]:
# Fetch all users
users = session.query(User).all()
for user in users:
    print(user.name, user.email)

# Fetch a specific user
user = session.query(User).filter_by(name="Alice").first()
print(user.email)

2024-12-20 01:57:40,616 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 01:57:40,619 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users
2024-12-20 01:57:40,621 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {}
Alice alice@example.com
2024-12-20 01:57:40,626 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2024-12-20 01:57:40,627 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {'name_1': 'Alice', 'param_1': 1}
alice@example.com

#### update

In [13]:
user = session.query(User).filter_by(name="Alice").first()
user.email = "new@example.com"
session.commit()

2024-12-20 02:01:19,937 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 02:01:19,938 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2024-12-20 02:01:19,940 INFO sqlalchemy.engine.Engine [cached since 219.3s ago] {'name_1': 'Alice', 'param_1': 1}
2024-12-20 02:01:19,943 INFO sqlalchemy.engine.Engine UPDATE users SET email=%(email)s WHERE users.id = %(users_id)s
2024-12-20 02:01:19,944 INFO sqlalchemy.engine.Engine [cached since 104.3s ago] {'email': 'new@example.com', 'users_id': 1}
2024-12-20 02:01:19,948 INFO sqlalchemy.engine.Engine COMMIT

#### delete

In [14]:
user = session.query(User).filter_by(name="Alice").first()
session.delete(user)

2024-12-20 02:02:28,839 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 02:02:28,841 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2024-12-20 02:02:28,843 INFO sqlalchemy.engine.Engine [cached since 288.2s ago] {'name_1': 'Alice', 'param_1': 1}

In [15]:
session.rollback()

2024-12-20 02:02:44,699 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
user = session.query(User).filter_by(name="Alice").first()
session.delete(user)

2024-12-20 02:02:49,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-20 02:02:49,510 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users
WHERE users.name = %(name_1)s
 LIMIT %(param_1)s
2024-12-20 02:02:49,511 INFO sqlalchemy.engine.Engine [cached since 308.9s ago] {'name_1': 'Alice', 'param_1': 1}

In [17]:
session.commit()

2024-12-20 02:02:50,495 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = %(id)s
2024-12-20 02:02:50,497 INFO sqlalchemy.engine.Engine [generated in 0.00189s] {'id': 1}
2024-12-20 02:02:50,499 INFO sqlalchemy.engine.Engine COMMIT